<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h4>О нас</h4>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Помощь</h4>
                <ul>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Возврат и обмен</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Каталог</h4>
                <ul>
                    <li><a href="#">Смартфоны</a></li>
                    <li><a href="#">Ноутбуки</a></li>
                    <li><a href="#">Аксессуары</a></li>
                    <li><a href="#">Бытовая техника</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Контакты</h4>
                <p>Адрес: г. Москва, ул. Примерная, 1</p>
                <p>Телефон: +7 (495) 123-45-67</p>
                <p>Email: info@fosishop.ru</p>
            </div>
        </div>
        <div class="copyright">
            &copy; 2025 FosiShop. Все права защищены.
        </div>
    </div>
</footer>